/* *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0;
} */
html {
  margin: 0;
}
body {
  font-family: "Comfortaa", cursive;
  margin: 0;
}

h1 {
  font-size: 40px;
  margin: 0;
  margin-bottom: 10px;
}

h2 {
  font-size: 35px;
  margin: 0;
  margin-bottom: 10px;
}

h3 {
  font-size: 25px;
  margin: 0;
  margin-bottom: 10px;
}

section {
  height: 40vw;
}

p {
  color: dimgray;
}

.overflow-hidden {
  overflow: hidden;
}

.hero-section {
  width: 100%;
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.highlight {
  color: orange;
}
.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  height: 100%;
}

.half-width {
  width: 38%;
  float: left;
  margin: 0 4%;
  margin-top: 5%;
  padding-left: 2%;
}

.half-width img {
  width: 100%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, lightSalmon, tomato);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  display: inline-block;
}

.dream-section {
  background-image: url(./images/dream-bg.png);
  background-position: right;
  background-repeat: no-repeat;
}

.experiences {
  background-image: url(./images/exp-bg.png);
  background-position: left;
  background-repeat: no-repeat;
  z-index: -2;
}
.single-experience {
  box-shadow: 0px 0px 20px dimgray;
  border-radius: 5px;
  padding: 20px;
}
#full-stack-border {
  border-left: 5px solid transparent;
  border-radius: 20px;
  position: relative;
  background-clip: padding-box;
  box-sizing: border-box;
  background-color: white;
}
#full-stack-border::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -5px;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, lightSalmon, tomato);
  border-radius: inherit;
}
#web-dev-border {
  border-left: 5px solid transparent;
  border-radius: 20px;
  position: relative;
  background-clip: padding-box;
  box-sizing: border-box;
  background-color: white;
}
#web-dev-border::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -5px;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, blue, cyan);
  border-radius: inherit;
}

footer {
  text-align: center;
  font-size: 12px;
}
